.imagem-capa {
    background-image: url(imagens/img-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.titulo-principal{
 text-align: center;
 margin: 35px;
 font-family: var(--fonte-segundaria);
 font-size: 40px;
 color: var(--cor-principal);
}


.texto{
    margin: 45px 140px 28px;
    line-height: 30px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
}

/* ------- MIDIAS SOCIAIS-------*/
.container-midias-sociais {
    display: flex;
    justify-content: space-around;
    margin: 100px 0px;
    
}

.conteudo-midias-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nome-midias {
    color: var(--cor-principal);
    font-size: 12px;
}

.midias-sociais {
    background-color: var(--cor-principal);
    margin: 15px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
}

.midias-icons {
    width: 25px;
    height: 25px;
}

/* -------- BANNER ------- */
.container-banner {
    display: flex;
    margin: 65px 0px;
}

.img-banner{
    width: 50%;
    left: 0;
}

.conteudo-banner {
    background-color: var(--cor-principal);
    width: 50%;
}

.titulo-banner {
    color: white;
    font-family: var(--fonte-segundaria);
    text-align: center;
    padding: 28px 0 12px 0;
    font-size: 28px;
}

.texto-banner{
    color: white;
    text-align: justify;
    padding: 30px 27px;
    margin: 0px 30px;
    font-size: 14px;
}

.btn-banner{
    position: relative;
    left:250px;
    background-color: rgba(0, 0, 0, 63%);
    padding: 8px 18px;
    margin:28px;
    border: 0;
    border-radius: 10px;
    box-shadow: none;
}

.btn-banner:is(:hover, :focus-visible) {
    transform: scale(0.97);
    background-color: black;
}

.link-btn-banner {
    display: block;
    text-decoration: none;
    color: var(--cor-branco);
    padding: 6px;
    font-size: 18px;
}

/*----- TELAS MÉDIAS -----*/
@media screen and (max-width:968px) {
    .imagem-capa {
        background-image: url(imagens/img-03.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 450px;
    }

    .texto{
        margin: 45px 80px 28px;
    }

    .btn-banner {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
   
}

/*----- TELAS PEQUENAS -----*/
@media screen and (max-width:680px) {
    .imagem-capa {
        display: none;
    }

    .texto{
        margin: 45px 38px 28px;
        font-size: 14px;
    }

    .titulo-principal {
        font-size: 32px;
    }


    /* MIDIAS SOCIAIS */
    .nome-midias {
        color: var(--cor-principal);
        font-size: 11px;
    }

    .midias-sociais {
        width: 37px;
        height: 37px;
    }

    .midias-icons {
        width: 20px;
        height: 20px;
    }

    /* BANNER */
    .container-banner {
        display: flex;
        flex-direction: column;
    }

    .img-banner , .conteudo-banner {
        width: 100%;
    }

    .texto-banner {
        margin-left: 10px;
        margin-right: 10px;
    }

    .btn-banner {
        right: 50px;
    }
}