.container-footer {
    background-color: var(--cor-principal);
    margin-top: 45px;
    height: 353px;
}

.container-footer-pag02 {
    height: 297px;
    margin-top: 165px;
}

.conteudo-footer {
    display: flex;
    color:white;
    justify-content: space-between;
}

.conteudo-footer-pag02 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-footer {
    display: flex;
    flex-direction: column;
}

.img-logo-footer {
    width: 150px;
    height: 150px;
}

.texto-explicativo {
    color: rgba(255, 255, 255, 0.733);
    width: 283px;
    padding: 10px;
    font-size: 14px;
    text-align: justify;
    line-height: 1.5em;
}

.texto-explicativo-pag02 {
    width: 500px;
}

.container-lista-rodape {
    margin: 40px;
    list-style: none;
}

.lista-rodape {
    padding: 15px;
}

.link-lista-rodape {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.link-lista-rodape:hover {
    color: rgba(255, 255, 255, 0.685);
}

.assinatura {
    display: flex;
    justify-content: center;
    color: white ;
    background-color: rgba(0, 0, 0, 63%);
    margin-top: 25px;
    padding: 17px;
    text-align: center;
}

.assinatura > a {
    text-decoration: none;
    color: white;
    font-family: var(--fonte-principal);
    font-size: 15px;
}

.assinatura > a:hover {
    color: var(--cor-principal);
}

.assinatura-pag02 {
    padding: 10px;
}

/*----- TELAS MÉDIAS -----*/
@media screen and (max-width:968px) {
    .img-logo-footer {
        width: 145px;
        height: 145px;
    }
}

/*----- TELAS PEQUENAS -----*/
@media screen and (max-width:680px) {
    .container-footer {
        height: 340px;
    }

    .container-footer-pag02 {
        height: 325px; 
    }

    .img-logo-footer {
        width: 120px;
        height: 120px;
    }

    .texto-explicativo {
        padding: 10px;
        font-size: 12px;
        width: 180px;
    }
    .container-lista-rodape , .lista-rodape {
        margin-right: 0px;
    }

    .link-lista-rodape {
        font-size: 12px;
    }

    .assinatura > a {
        font-size: 11.5px;
    }
}
